.homepage {
	text-align: center;
	background-image: url(./Resources/background.svg);
	background-size: cover;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	/*justify-content: center; */
	/* align-items: center; */
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #b9b4c1;
}

.query-section {
	width: 35vw;
	padding: 1%;
	border-right: 1px solid;
}
.result-section .result {
	padding: 1%;
	text-align: left;
}
.result-section {
	max-height: 100vh;
	overflow: scroll;
	width: 65vw;
	/* background-color: #f0f; */
}

button {
	/* font-size: x-large; */
	background-color: #251f31;
	stroke: none;
	border: none;
	font-family: inherit;
	color: inherit;
	padding: 5px 10px;
	cursor: pointer;
}

.question .question-section {
	display: inline-block;
}

.dropdown {
	width: 100%;
	display: flex;
	flex-direction: row;
	/* align-items; */
	/* justify-content: flex-start; */
	/* align-items: left; */
}

.dropdown-column {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 5px;
}

.dropdown-option {
	padding: 5px;
	cursor: pointer;
}
.dropdown-option:hover {
	background-color: #251f3144;
}

input {
	width: fit-content;
	min-width: 20px;
	max-width: 20px;
}

form {
	display: inline;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
