.homepage {
	text-align: center;
	background-image: url(./Resources/background.svg);
	background-size: cover;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #b9b4c1;
}

button {
	font-size: x-large;
	background-color: #251f31;
	stroke: none;
	border: none;
	font-family: inherit;
	color: inherit;
	padding: 5px 10px;
	cursor: pointer;
}
